BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left
ReferenceAlignment: Left
AccessModifierOffset: -4
NamespaceIndentation: All
ColumnLimit: 88
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
SortIncludes: Never
SortUsingDeclarations: Never
IncludeBlocks: Preserve
ReflowComments: false
FixNamespaceComments: false
InsertBraces: false
QualifierAlignment: Leave
